@use 'base.scss';
@use 'sass:color';

.header {
    @extend .container-horizontal;

    width: 100vw;
    gap: 0.6em;
    padding: 0.3em;

    // Make eet pretty
    fill-opacity: 100;
    box-shadow: 0px 5px 10px 1px gray; // TODO: Edges look weird

    .header-button {
        border: 2px solid base.$color-primary;
        border-radius: 15%;
        padding: 0.3em;

        color: base.$color-primary;
        background-color: color.adjust($color: base.$color-primary, $lightness: 70%);
        text-decoration: none;

        &:hover {
            filter: brightness(90%);
            //background-color: color.adjust($color: $color-primary, $lightness: 60%);
        }
    }

    .header-image {
        @extend .header-button;

        display: block;
        width: 2.6em;
        padding: 0;

        &:hover {
            filter: brightness(80%);
        }
    }
}