@use 'base.scss';
@use 'sass:color';

.project-list {
    @extend .container-vertical;

    background: url("/assets/ferns.jpeg");

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 3em;
    padding-top: 0;
    gap: 3em;
}

.project-card {
    @extend .container-horizontal;

    justify-content: center;
    padding: 1em;
    gap: 1em;

    width: 70vw;
    height: fit-content;
    min-height: 45vh;

    //border: 1px solid black;
    //background-color: color.adjust($color: base.$color-background, $lightness: -10%);
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 10px 1px rgb(72, 82, 74);
    border-radius: 1em;

    color: base.$color-text-light;

    img {
        max-width: 100%;
        max-height: 45vh;
        border-radius: 0.5em;
    }

    section {
        @extend .container-vertical;

        flex: 1 1 20vw;
        min-width: 20vw;
        justify-content: center;

        .title {
            font-size: 2.5em;
            font-weight: 700;

            gap: 0.1em;
            margin: 0;

            color: base.$color-text-light;
            text-decoration: underline 4px;
            text-underline-offset: 5px;
        }


        .description {
            font-size: 1em;
            font-weight: 400;
        }

        .stack {
            font-size: 0.8em;
            font-weight: 400;
            font-style: italic;
        }
    }
}