@use 'base.scss';
@use 'sass:color';

.project-card {
    @extend .container-horizontal;

    justify-content: center;
    padding: 1em;
    gap: 1em;

    width: 80vw;
    height: fit-content;
    min-height: 60vh;

    //border: 1px solid black;
    background-color: color.adjust($color: base.$color-background, $lightness: -10%);
    box-shadow: 0px 5px 10px 1px gray;
    border-radius: 1em;

    color: base.$color-text;

    img {
        max-width: 100%;
        max-height: 60vh;
        border-radius: 1em;
    }

    div {
        @extend .container-vertical;

        flex: 1 1 20vw;
        min-width: 20vw;
        height: 100%;
        align-items: center;
        text-align: center;

        & .title {
            @include base.font(3em, 800);
        }

        & .description {
            @include base.font(1em, 400);
        }
    }
}