@use 'sass:color';

$color-text: #3D2412;
$color-primary: #3D2412;
$color-secondary: #cf84f7;
$color-accent: #f341dd;
$color-background: #f2ebe2;

@mixin font($size, $weight: 400) {
    font-color: $color-text;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "MONO" 1;
    font-size: $size;
    font-weight: $weight;
}

body {

    background-color: $color-background;
    overflow: hidden;

    @include font(larger, 600);

    .header {
        // Flexbox stuff
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 0.3em;

        // Position + Scaling
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 4em;


        // Make eet pretty
        fill-opacity: 100;
        box-shadow: 0px 5px 10px 1px gray; // TODO: Edges look weird

        // TODO: The image + buttons are not aligned
        .header-button {
            padding: 0.3em;
            margin: 0.3em;
            border: 2px solid $color-primary;
            border-radius: 15%;

            color: $color-primary;
            background-color: color.adjust($color: $color-primary, $lightness: 70%);
            text-decoration: none;

            &:hover {
                filter: brightness(90%);
                //background-color: color.adjust($color: $color-primary, $lightness: 60%);
            }
        }

        .header-image {
            @extend .header-button;

            height: 2.6em;
            padding: 0;

            &:hover {
                filter: brightness(80%);
            }
        }
    }

    p {
        color: green;
    }
}